In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import warnings
import seaborn as sns
import sys
from matplotlib import font_manager, rc
import re
warnings.filterwarnings('ignore')
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [2]:
os.chdir(r"C:\Users\tagkd\Desktop\인공지능 연습\영화관람객")

In [3]:
train = pd.read_csv("movies_train.csv")
test = pd.read_csv("movies_test.csv")

In [4]:
train.shape

(600, 12)

In [5]:
test.shape

(243, 11)

In [6]:
train.head(5)

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num
0,개들의 전쟁,롯데엔터테인먼트,액션,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398
1,내부자들,(주)쇼박스,느와르,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501
2,은밀하게 위대하게,(주)쇼박스,액션,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083
3,나는 공무원이다,(주)NEW,코미디,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866
4,불량남녀,쇼박스(주)미디어플렉스,코미디,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387

In [7]:
train.isnull().any()

title             False
distributor       False
genre             False
release_time      False
time              False
screening_rat     False
director          False
dir_prev_bfnum     True
dir_prev_num      False
num_staff         False
num_actor         False
box_off_num       False
dtype: bool

#### title : 영화명,  distributor : 배급사,  genre : 장르,  release_time : 상영시간,  screening_rat :  연령제한
#### dir_prev_bfnum : 감독 전작품 관람객 수,  dir_prev_num : 전 작품 개수, num_staff : 스태프 수
#### num_actor : 주연배우 수,  box_off_num : 관람객 수

# 공부해야할 것
## 1. 전처리 하는 법
## 2. 자연어 처리

In [8]:
train_test_data = [train,test]

In [9]:
for data in train_test_data:
    data['distributor'] = data.distributor.str.replace('(주)','')

In [10]:
for data in train_test_data:
    data['distributor'] = [re.sub('[^0-9a-zA-Z가-힣]','',x)for x in data.distributor]

In [11]:
distributor = np.array(train['distributor'].tolist())
distributor = np.unique(distributor)
distributor.shape

(159,)

In [12]:
for x in distributor:
    print(x)

BoXoo엔터테인먼트
CGV무비꼴라쥬
CGV아트하우스
CJCGV
CJEMPictures
CJEM영화부문
CJ엔터테인먼트
JK필름
KBS미디어
KT
KTG상상마당
M2픽처스
NEW
OAL올
SBS콘텐츠허브
SK텔레콤
SK플래닛
THE픽쳐스
tvN
ysfilm
건시네마
고구마공작소
고앤고필름
골든타이드픽처스
김기덕필름
나우콘텐츠
나이너스엔터테인먼트
노바엔터테인먼트
노버스엔터테인먼트
대명문화공장
더피플
더픽쳐스
더픽쳐스마운틴픽쳐스
동국대학교충무로영상제작센터
두엔터테인먼트
두타연
드림로드
드림팩트엔터테인먼트
디마엔터테인먼트
디씨드
랠리버튼
레인보우팩토리
로드하우스
롤러코스터프로덕션
롯데엔터테인먼트
리틀빅픽처스
리틀빅픽쳐스
마노엔터테인먼트
마법사필름
마운틴픽처스
마운틴픽쳐스
마인스엔터테인먼트
머니필름
머스트씨무비
메가박스플러스엠
무비꼴라쥬
미디어데이
미라클필름
백두대간
보람엔터테인먼트
브릿지웍스
사람과사람들
상구네필름
새인컴퍼니
서울독립영화제
쇼박스
쇼박스미디어플렉스
스마일이엔티
스크린조이
스토리셋
스톰픽쳐스코리아
스튜디오느림보
스튜디오블루
스튜디오후크
스폰지
스폰지이엔티
시너지
시네마달
시네마서비스
싸이더스
싸이더스FNH
씨너스엔터테인먼트
씨네굿필름
씨네그루키다리이엔티
씨엠닉스
아방가르드필름
아우라픽처스
아이필름코퍼레이션
액티버스엔터테인먼트
어뮤즈
어썸피플
에스와이코마드
에스피엠
에이블엔터테인먼트
에이원엔터테인먼트
엣나인필름
영구아트무비
영화사
영화사조아
영화사조제
영화사진진
영화제작전원사
영희야놀자
예지림엔터테인먼트
오퍼스픽쳐스
온비즈넷
와이드릴리즈
웃기씨네
위더스필름
위드시네마
유니버설픽쳐스인터내셔널코리아
유비네트워크
유비콘텐츠
이달투
이모션픽처스
이상우필름
이스트스카이필름
이십세기폭스코리아
인디스토리
인디플러그
인벤트디
인터콘미디어
인피니티엔터테인먼트
쟈비스미디어
전국제영화제
전망좋은영화사
제나두엔터테인먼트
조이앤시네마
조이앤컨텐츠그룹
찬란
케이알씨지
케이엠스타
콘텐츠윙
콘텐츠판다
크리에이티브컴즈
키노아이
키노엔터테인먼트
타임스토리그룹
트리필름
파이오니아21
판다미디어
판씨네마
팜코리아미디어
팝엔터테인먼트
팝파트너스
패뷸러스
패스파인더씨앤씨
퍼스트런
프레인글로벌
프로젝트엠피
프리비젼엔터테인먼트
피터팬픽쳐스
필라멘트픽쳐스
필름라인
하준사
한국YWCA연합회
홀리가든
화앤담이엔티
휘엔터테인먼트

In [13]:
def dis_mapping(data):
    if 'CJ' in data or 'CGV' in data:
        return 'CJ'
    elif '쇼박스' in data:
        return '쇼박스'
    elif 'SK' in data:
        return 'SK'
    elif '더빅쳐' in data:
        return '더빅쳐'
    elif '마운틴' in data:
        return '마운틴'
    elif '스폰지' in data:
        return '스폰지'
    elif '싸이더스' in data:
        return '싸이더스'
    else:
        return data

In [14]:
for data in train_test_data:
    data['distributor'] = data.distributor.apply(dis_mapping)

In [15]:
train.groupby('genre').box_off_num.mean().sort_values()

genre
뮤지컬       6.627000e+03
다큐멘터리     6.717226e+04
서스펜스      8.261100e+04
애니메이션     1.819267e+05
멜로/로맨스    4.259680e+05
미스터리      5.275482e+05
공포        5.908325e+05
드라마       6.256898e+05
코미디       1.193914e+06
SF        1.788346e+06
액션        2.203974e+06
느와르       2.263695e+06
Name: box_off_num, dtype: float64

In [16]:
for data in train_test_data:
    data['genre'] = data.genre.map({'뮤지컬':1,'다큐멘터리':2,'서스펜스':3,'애니메이션':4,'멜로/로맨스':5,'미스터리':6,'공포':7,'드라마':8,'코미디':9,'SF':10,'액션':11,'느와르':12})

In [17]:
dis_nm_rank = train.groupby('distributor').box_off_num.median().reset_index(name='rank').sort_values(by='rank')
dis_nm_rank

    distributor       rank
111  인피니티엔터테인먼트        2.0
15       고구마공작소        8.0
53       사람과사람들       42.0
98        위드시네마       46.0
19        나우콘텐츠       54.0
..          ...        ...
114     전망좋은영화사  1214237.0
106   이십세기폭스코리아  1422844.0
57          쇼박스  2138560.0
85       영구아트무비  2541603.0
76    아이필름코퍼레이션  3117859.0

[148 rows x 2 columns]

In [18]:
dis_nm_rank['rank'] = [i+1 for i in range(dis_nm_rank.shape[0])]
dis_nm_rank

    distributor  rank
111  인피니티엔터테인먼트     1
15       고구마공작소     2
53       사람과사람들     3
98        위드시네마     4
19        나우콘텐츠     5
..          ...   ...
114     전망좋은영화사   144
106   이십세기폭스코리아   145
57          쇼박스   146
85       영구아트무비   147
76    아이필름코퍼레이션   148

[148 rows x 2 columns]

In [19]:
dir_nm_rank = train.groupby('director').box_off_num.mean().reset_index(name='dir_rank').sort_values(by='dir_rank')
dir_nm_rank

    director    dir_rank
125      노성수         1.0
85       김정호         2.0
10       고구마         8.0
289      이세일        10.0
411      진광교        36.0
..       ...         ...
448      한재림   9135806.0
201      봉준호   9350351.0
241      양우석  11374879.0
416      최동훈  12845252.0
264      윤제균  14262766.0

[472 rows x 2 columns]

In [20]:
dir_nm_rank['dir_rank'] = [i+1 for i in range(dir_nm_rank.shape[0])]
dir_nm_rank

    director  dir_rank
125      노성수         1
85       김정호         2
10       고구마         3
289      이세일         4
411      진광교         5
..       ...       ...
448      한재림       468
201      봉준호       469
241      양우석       470
416      최동훈       471
264      윤제균       472

[472 rows x 2 columns]

In [21]:
train = pd.merge(train,dis_nm_rank,how='left')

In [22]:
train

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,rank
0,개들의 전쟁,롯데엔터테인먼트,11,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,135
1,내부자들,쇼박스,12,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,146
2,은밀하게 위대하게,쇼박스,11,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,146
3,나는 공무원이다,NEW,9,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,141
4,불량남녀,쇼박스,9,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,146
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,NEW,8,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091,141
596,파파로티,쇼박스,8,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438,146
597,살인의 강,마운틴,7,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475,46
598,악의 연대기,CJ,12,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525,142
599,베를린,CJ,11,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532,142

In [23]:
train = pd.merge(train,dir_nm_rank,how='left')

In [24]:
train

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,rank,dir_rank
0,개들의 전쟁,롯데엔터테인먼트,11,2012-11-22,96,청소년 관람불가,조병옥,NaN,0,91,2,23398,135,265
1,내부자들,쇼박스,12,2015-11-19,130,청소년 관람불가,우민호,1161602.50,2,387,3,7072501,146,445
2,은밀하게 위대하게,쇼박스,11,2013-06-05,123,15세 관람가,장철수,220775.25,4,343,4,6959083,146,463
3,나는 공무원이다,NEW,9,2012-07-12,101,전체 관람가,구자홍,23894.00,2,20,6,217866,141,319
4,불량남녀,쇼박스,9,2010-11-04,108,15세 관람가,신근호,1.00,1,251,2,483387,146,358
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,해무,NEW,8,2014-08-13,111,청소년 관람불가,심성보,3833.00,1,510,7,1475091,141,408
596,파파로티,쇼박스,8,2013-03-14,127,15세 관람가,윤종찬,496061.00,1,286,6,1716438,146,417
597,살인의 강,마운틴,7,2010-09-30,99,청소년 관람불가,김대현,NaN,0,123,4,2475,46,158
598,악의 연대기,CJ,12,2015-05-14,102,15세 관람가,백운학,NaN,0,431,4,2192525,142,435
599,베를린,CJ,11,2013-01-30,120,15세 관람가,류승완,NaN,0,363,5,7166532,142,456

In [25]:
test = pd.merge(train,dis_nm_rank,how='left')
test = pd.merge(train,dir_nm_rank,how='left')

In [26]:
train.fillna(0,inplace=True)
test.fillna(0,inplace=True)

In [27]:
from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold
from ngboost import NGBRegressor

In [28]:
X = train[['rank','dir_rank','time','num_staff','num_actor','screening_rat']]
y = np.log1p(train.box_off_num)

In [29]:
X=pd.get_dummies(columns = ['screening_rat'],data=X)

In [30]:
X['num_actor'] = np.log1p(X['num_actor'])

In [31]:
target = test[['rank','dir_rank','time','num_staff','num_actor','screening_rat']]

In [32]:
target = pd.get_dummies(columns = ['screening_rat'],data=target)

In [33]:
target['num_actor'] = np.log1p(target['num_actor'])

In [34]:
kf = KFold(n_splits = 10, shuffle = True, random_state = 42)

In [35]:
gbm = GradientBoostingRegressor(random_state = 42)

In [36]:
rmse_list=[]
gb_pred = np.zeros((test.shape[0]))
for tr_idx,val_idx in kf.split(X,y):
    tr_x,tr_y = X.iloc[tr_idx],y.iloc[tr_idx]
    val_x,val_y = X.iloc[val_idx],y.iloc[val_idx]
    
    gbm.fit(tr_x,tr_y)
    
    pred = np.expm1([0 if x<0 else x for x in gbm.predict(val_x)])
    sub_pred = np.expm1([0 if x<0 else x for x in gbm.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y,pred))
    
    rmse_list.append(rmse)
    gb_pred += (sub_pred/10)

In [37]:
np.mean(rmse_list)

1590028.4398654955

In [38]:
ngb = NGBRegressor(random_state = 518)

In [39]:
rmse_list = []
ngb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    ngb.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in ngb.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in ngb.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    ngb_pred += (sub_pred / 10)

[iter 0] loss=2.6200 val_loss=0.0000 scale=1.0000 norm=2.9523
[iter 100] loss=1.6820 val_loss=0.0000 scale=2.0000 norm=1.8440
[iter 200] loss=0.9479 val_loss=0.0000 scale=2.0000 norm=1.3026
[iter 300] loss=0.5068 val_loss=0.0000 scale=2.0000 norm=1.2428
[iter 400] loss=0.3249 val_loss=0.0000 scale=2.0000 norm=1.2495
[iter 0] loss=0.6160 val_loss=0.0000 scale=1.0000 norm=0.9902
[iter 100] loss=0.2423 val_loss=0.0000 scale=1.0000 norm=0.6328
[iter 200] loss=0.1809 val_loss=0.0000 scale=1.0000 norm=0.6078
[iter 300] loss=0.1456 val_loss=0.0000 scale=1.0000 norm=0.6022
[iter 400] loss=0.1145 val_loss=0.0000 scale=1.0000 norm=0.5957
[iter 0] loss=0.1065 val_loss=0.0000 scale=1.0000 norm=0.5874
[iter 100] loss=0.0227 val_loss=0.0000 scale=1.0000 norm=0.5647
[iter 200] loss=-0.0141 val_loss=0.0000 scale=1.0000 norm=0.5590
[iter 300] loss=-0.0428 val_loss=0.0000 scale=0.5000 norm=0.2779
[iter 400] loss=-0.0677 val_loss=0.0000 scale=1.0000 norm=0.5518
[iter 0] loss=0.0255 val_loss=0.0000 scale=0.5000 norm=0.3198
[iter 100] loss=-0.0669 val_loss=0.0000 scale=1.0000 norm=0.5617
[iter 200] loss=-0.1078 val_loss=0.0000 scale=0.5000 norm=0.2700
[iter 300] loss=-0.1393 val_loss=0.0000 scale=0.5000 norm=0.2643
[iter 400] loss=-0.1539 val_loss=0.0000 scale=0.0312 norm=0.0164
[iter 0] loss=0.0022 val_loss=0.0000 scale=1.0000 norm=0.6344
[iter 100] loss=-0.1601 val_loss=0.0000 scale=1.0000 norm=0.5212
[iter 200] loss=-0.2011 val_loss=0.0000 scale=1.0000 norm=0.5034
[iter 300] loss=-0.2290 val_loss=0.0000 scale=1.0000 norm=0.4977
[iter 400] loss=-0.2448 val_loss=0.0000 scale=1.0000 norm=0.4954
[iter 0] loss=-0.1345 val_loss=0.0000 scale=1.0000 norm=0.6050
[iter 100] loss=-0.2592 val_loss=0.0000 scale=0.5000 norm=0.2517
[iter 200] loss=-0.2825 val_loss=0.0000 scale=0.2500 norm=0.1234
[iter 300] loss=-0.2944 val_loss=0.0000 scale=0.5000 norm=0.2450
[iter 400] loss=-0.3032 val_loss=0.0000 scale=0.2500 norm=0.1217
[iter 0] loss=-0.2557 val_loss=0.0000 scale=0.5000 norm=0.2642
[iter 100] loss=-0.2899 val_loss=0.0000 scale=0.5000 norm=0.2479
[iter 200] loss=-0.3074 val_loss=0.0000 scale=0.1250 norm=0.0607
[iter 300] loss=-0.3164 val_loss=0.0000 scale=0.2500 norm=0.1210
[iter 400] loss=-0.3315 val_loss=0.0000 scale=0.5000 norm=0.2394
[iter 0] loss=-0.3197 val_loss=0.0000 scale=1.0000 norm=0.4977
[iter 100] loss=-0.3705 val_loss=0.0000 scale=0.5000 norm=0.2314
[iter 200] loss=-0.4014 val_loss=0.0000 scale=1.0000 norm=0.4514
[iter 300] loss=-0.4218 val_loss=0.0000 scale=0.2500 norm=0.1121
[iter 400] loss=-0.4490 val_loss=0.0000 scale=0.5000 norm=0.2219
[iter 0] loss=-0.1807 val_loss=0.0000 scale=1.0000 norm=0.6826
[iter 100] loss=-0.4350 val_loss=0.0000 scale=1.0000 norm=0.4462
[iter 200] loss=-0.4803 val_loss=0.0000 scale=0.2500 norm=0.1068
[iter 300] loss=-0.4903 val_loss=0.0000 scale=1.0000 norm=0.4294
[iter 400] loss=-0.5141 val_loss=0.0000 scale=0.0312 norm=0.0134
[iter 0] loss=-0.4827 val_loss=0.0000 scale=1.0000 norm=0.4737
[iter 100] loss=-0.5244 val_loss=0.0000 scale=1.0000 norm=0.4428
[iter 200] loss=-0.5536 val_loss=0.0000 scale=0.5000 norm=0.2154
[iter 300] loss=-0.5775 val_loss=0.0000 scale=1.0000 norm=0.4252
[iter 400] loss=-0.5978 val_loss=0.0000 scale=0.5000 norm=0.2106

In [40]:
np.mean(rmse_list)

1797955.9569972581

In [41]:
lgbm = LGBMRegressor(random_state = 518)

In [42]:
rmse_list = []
lgb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    lgbm.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in lgbm.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in lgbm.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    lgb_pred += (sub_pred / 10)

In [43]:
np.mean(rmse_list)

1592887.5475383387

In [44]:
xgb = XGBRegressor(random_state = 518)

In [45]:
rmse_list = []
xgb_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    xgb.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in xgb.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in xgb.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    xgb_pred += (sub_pred / 10)

In [46]:
np.mean(rmse_list)

1777308.5010131735

In [47]:
cat = CatBoostRegressor(random_state = 518, silent = True)

In [48]:
rmse_list = []
cat_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    cat.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in cat.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in cat.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    cat_pred += (sub_pred / 10)

In [49]:
np.mean(rmse_list)

1547407.819267645

In [50]:
rf = RandomForestRegressor(random_state = 518)

In [51]:
rmse_list = []
rf_pred = np.zeros((test.shape[0]))
for tr_idx, val_idx in kf.split(X, y) :
    tr_x, tr_y = X.iloc[tr_idx], y.iloc[tr_idx]
    val_x, val_y = X.iloc[val_idx], y.iloc[val_idx]
    
    rf.fit(tr_x, tr_y)
    
    pred = np.expm1([0 if x < 0 else x for x in rf.predict(val_x)])
    sub_pred = np.expm1([0 if x < 0 else x for x in rf.predict(target)])
    rmse = np.sqrt(mean_squared_error(val_y, pred))
    
    rmse_list.append(rmse)
    
    rf_pred += (sub_pred / 10)

In [52]:
np.mean(rmse_list)

1576896.189717271

In [61]:
data = {'이름':['a','b','c'],'주소':['q','w','e']}
index = ['z','x','c']
df = pd.DataFrame(data,index = index)
df

  이름 주소
z  a  q
x  b  w
c  c  e

In [63]:
df['주소'] = (1+2+3)/5
df

  이름   주소
z  a  1.2
x  b  1.2
c  c  1.2

In [65]:
test['box_off_num']=(xgb_pred + cat_pred + lgb_pred + rf_pred + gb_pred + ngb_pred) / 6

In [69]:
sub = pd.DataFrame({
    'title':test['title'],
    'box_off_num':test['box_off_num']
})
sub.to_csv('submission.csv',index=False)

In [66]:
test.head(1)

,title,distributor,genre,release_time,time,screening_rat,director,dir_prev_bfnum,dir_prev_num,num_staff,num_actor,box_off_num,rank,dir_rank
0,개들의 전쟁,롯데엔터테인먼트,11,2012-11-22,96,청소년 관람불가,조병옥,0.0,0,91,2,26345.478382,135,265