In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import numpy as np

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.shape

(1459, 11)

In [4]:
test.shape

(715, 10)

In [17]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1459 non-null   float64
 3   hour_bef_precipitation  1459 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [16]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

In [7]:
train.isnull().any()

id                        False
hour                      False
hour_bef_temperature       True
hour_bef_precipitation     True
hour_bef_windspeed         True
hour_bef_humidity          True
hour_bef_visibility        True
hour_bef_ozone             True
hour_bef_pm10              True
hour_bef_pm2.5             True
count                     False
dtype: bool

In [20]:
cols = train.columns
cols_na = cols[3:-1]

In [15]:
train.hour_bef_temperature.fillna(train.hour_bef_temperature.mean(),inplace = True)
train.hour_bef_precipitation.fillna(train.hour_bef_precipitation.mean(),inplace = True)

In [8]:
train.head(10)

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0
5,13,2,13.6,0.0,1.7,80.0,1073.0,0.027,34.0,15.0,39.0
6,14,3,10.6,0.0,1.5,58.0,1548.0,0.038,62.0,33.0,23.0
7,16,21,16.0,0.0,6.0,21.0,1961.0,0.050,90.0,28.0,146.0
8,19,9,13.8,0.0,1.9,64.0,1344.0,0.039,93.0,19.0,39.0
9,20,14,17.2,0.0,2.1,32.0,1571.0,0.025,64.0,19.0,83.0

### id :  고유 id,  hour : 시간,  temperature : 기온,  precipitation : 비가오면 1 안오면 0, windspeed : 풍속,  humidity : 습도,  visibility : 가시성,  ozone : 오존,  pm10 : 미세먼지  , pm25 : 초미세먼지,  count : 시간에 따른 따릉이 대여 수

In [9]:
train_test_data = [train,test]

In [25]:
def change(feature):
    train[feature].fillna(train[feature].mean(),inplace = True)

In [29]:
def change2(feature):
    test[feature].fillna(test[feature].mean(),inplace = True)

In [30]:
for x in cols_na:
    change(x)
    change2(x)

In [32]:
col_x = cols[1:-1]
col_y = cols[-1]

In [34]:
from xgboost import XGBClassifier

In [35]:
model = XGBClassifier()
model.fit(train[col_x],train[col_y])
model

C:\Users\tagkd\anaconda3\lib\site-packages\xgboost\sklearn.py:1146: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[19:24:45] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=8, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', use_label_encoder=True,
              validate_parameters=1, verbosity=None)

In [36]:
y_pred = model.predict(test[col_x])

In [41]:
id = test['id'].values
id

array([   0,    1,    2,    4,    5,   10,   11,   12,   15,   17,   18,
         23,   25,   26,   31,   39,   40,   41,   42,   43,   51,   52,
         54,   60,   61,   62,   63,   65,   66,   68,   71,   80,   82,
         94,   98,  101,  102,  107,  112,  113,  115,  116,  120,  121,
        122,  132,  143,  147,  150,  151,  152,  153,  155,  156,  159,
        161,  163,  177,  186,  188,  190,  191,  192,  195,  200,  209,
        210,  211,  214,  215,  218,  219,  222,  225,  228,  236,  241,
        242,  243,  245,  247,  251,  252,  253,  254,  258,  260,  261,
        265,  266,  267,  269,  270,  275,  278,  279,  286,  287,  288,
        289,  293,  294,  297,  302,  303,  304,  307,  309,  311,  312,
        314,  315,  319,  322,  323,  325,  327,  330,  332,  333,  338,
        341,  345,  348,  349,  350,  352,  355,  356,  358,  363,  369,
        371,  372,  375,  380,  388,  391,  392,  393,  394,  396,  401,
        407,  409,  410,  416,  418,  420,  421,  422,  424,  428,  429,
        431,  435,  439,  441,  447,  449,  451,  452,  454,  458,  463,
        467,  470,  471,  474,  478,  483,  484,  485,  486,  491,  494,
        495,  497,  499,  515,  518,  521,  525,  529,  532,  534,  540,
        544,  547,  549,  563,  564,  567,  572,  577,  578,  585,  588,
        589,  590,  592,  594,  596,  598,  599,  605,  606,  607,  608,
        609,  610,  611,  614,  615,  616,  617,  618,  624,  629,  631,
        633,  637,  638,  643,  644,  645,  646,  648,  650,  651,  652,
        656,  657,  659,  660,  662,  665,  675,  681,  682,  685,  686,
        689,  696,  703,  704,  705,  714,  717,  718,  720,  721,  723,
        726,  728,  730,  731,  734,  737,  738,  745,  746,  749,  752,
        753,  758,  765,  766,  768,  769,  774,  775,  781,  784,  794,
        795,  796,  802,  803,  805,  806,  807,  809,  810,  812,  814,
        818,  819,  825,  836,  839,  847,  848,  851,  852,  853,  857,
        858,  859,  861,  867,  870,  871,  872,  874,  881,  886,  890,
        895,  899,  900,  901,  902,  903,  913,  918,  923,  924,  926,
        927,  930,  934,  937,  939,  941,  942,  946,  950,  953,  959,
        961,  962,  964,  969,  971,  976,  978,  980,  981,  990,  993,
        996,  998,  999, 1006, 1008, 1013, 1015, 1016, 1022, 1026, 1028,
       1031, 1034, 1037, 1040, 1042, 1046, 1048, 1049, 1050, 1051, 1052,
       1055, 1060, 1064, 1066, 1071, 1073, 1089, 1091, 1092, 1093, 1096,
       1097, 1098, 1099, 1102, 1107, 1109, 1111, 1112, 1114, 1116, 1117,
       1118, 1122, 1124, 1127, 1133, 1134, 1135, 1139, 1143, 1150, 1151,
       1153, 1155, 1162, 1163, 1166, 1171, 1172, 1173, 1174, 1177, 1178,
       1184, 1185, 1186, 1187, 1188, 1191, 1207, 1213, 1215, 1223, 1227,
       1236, 1237, 1238, 1241, 1248, 1250, 1251, 1253, 1255, 1257, 1261,
       1262, 1265, 1273, 1277, 1278, 1280, 1284, 1285, 1288, 1295, 1297,
       1299, 1304, 1308, 1310, 1311, 1314, 1315, 1318, 1320, 1321, 1322,
       1330, 1333, 1334, 1341, 1344, 1351, 1354, 1356, 1363, 1365, 1369,
       1373, 1375, 1377, 1379, 1380, 1381, 1384, 1390, 1393, 1395, 1399,
       1400, 1401, 1404, 1408, 1409, 1413, 1416, 1418, 1423, 1424, 1425,
       1433, 1434, 1436, 1442, 1444, 1445, 1452, 1455, 1462, 1467, 1472,
       1475, 1493, 1501, 1503, 1504, 1505, 1511, 1512, 1513, 1514, 1528,
       1533, 1534, 1536, 1537, 1539, 1550, 1552, 1554, 1555, 1556, 1559,
       1563, 1566, 1567, 1568, 1571, 1572, 1574, 1577, 1583, 1585, 1586,
       1587, 1596, 1602, 1604, 1605, 1610, 1611, 1616, 1617, 1618, 1622,
       1623, 1628, 1631, 1632, 1633, 1634, 1636, 1637, 1643, 1644, 1646,
       1648, 1651, 1656, 1658, 1659, 1665, 1666, 1670, 1674, 1679, 1680,
       1683, 1686, 1691, 1693, 1696, 1697, 1703, 1706, 1709, 1710, 1712,
       1713, 1718, 1719, 1722, 1723, 1724, 1728, 1730, 1732, 1737, 1745,
       1747, 1748, 1755, 1759, 1761, 1764, 1765, 1766, 1768, 1770, 1771,
       1774, 1785, 1788, 1792, 1794, 1797, 1798, 1799, 1802, 1806, 1808,
       1810, 1818, 1819, 1820, 1822, 1826, 1827, 1835, 1841, 1842, 1843,
       1846, 1849, 1850, 1851, 1857, 1858, 1860, 1861, 1864, 1869, 1871,
       1872, 1875, 1878, 1879, 1885, 1888, 1889, 1890, 1896, 1897, 1898,
       1900, 1905, 1908, 1909, 1913, 1918, 1922, 1923, 1925, 1926, 1927,
       1930, 1935, 1939, 1942, 1943, 1948, 1949, 1951, 1953, 1959, 1963,
       1967, 1973, 1975, 1976, 1990, 1993, 1997, 1999, 2001, 2004, 2010,
       2013, 2017, 2021, 2023, 2026, 2037, 2039, 2041, 2046, 2050, 2060,
       2067, 2069, 2072, 2074, 2079, 2083, 2085, 2087, 2093, 2094, 2097,
       2103, 2104, 2107, 2108, 2110, 2115, 2117, 2125, 2127, 2133, 2134,
       2135, 2141, 2143, 2145, 2146, 2147, 2148, 2149, 2165, 2166, 2177],
      dtype=int64)

In [44]:
df = pd.DataFrame({
    'id' : id,
    'count':y_pred
})
df

       id  count
0       0   90.0
1       1  140.0
2       2   86.0
3       4   20.0
4       5  120.0
..    ...    ...
710  2148   74.0
711  2149   98.0
712  2165   52.0
713  2166  218.0
714  2177  222.0

[715 rows x 2 columns]

In [49]:
df.to_csv('submission1.csv',index=False)

In [47]:
df

       id  count
0       0   90.0
1       1  140.0
2       2   86.0
3       4   20.0
4       5  120.0
..    ...    ...
710  2148   74.0
711  2149   98.0
712  2165   52.0
713  2166  218.0
714  2177  222.0

[715 rows x 2 columns]